html {
    font-size: 10px;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    padding-top: 50px;
}

h1 {
    font-size: 55px;
    background: #CFCFCF;
    background: -webkit-linear-gradient(to right, #CFCFCF 30%, #06AECF 100%);
    background: -moz-linear-gradient(to right, #CFCFCF 30%, #06AECF 100%);
    background: linear-gradient(to right, #CFCFCF 30%, #06AECF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    letter-spacing: 1.4px;
    word-spacing: 1.8px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 30rem;
    max-height: 80%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 90%;
}

.center {
    display: flex;
    justify-content: center;
    border: .01rem solid rgba(222, 28, 252, 0.757);
    border-radius: 1.3rem;
    -webkit-box-shadow: 4px 11px 79px 23px rgba(236, 201, 242, 0.2);
    -moz-box-shadow: 4px 11px 79px 23px rgba(236, 201, 242, 0.2);
    box-shadow: 4px 11px 79px 23px rgba(236, 201, 242, 0.2);
    background-color: #ffffff;
    padding: 30px 50px;
    margin: 0 30px;
}

.key-line {
    max-width: 1325px;
    display: flex;
}

.key-line:nth-child(2) {
    margin-left: 55px;
}

.key-line:nth-child(3) {
    margin-left: 110px;
}

.key:not(:nth-child(9n)) {}

.key {
    margin-right: 1rem;
    border: .5rem solid rgb(145, 0, 82);
    border-radius: 1.3rem;
    font-size: 1.8rem;
    padding: 1.2rem .75rem;
    transition: all .09s ease;
    width: 11rem;
    text-align: center;
    color: white;
    background: rgba(86, 33, 85, 0.4);
    text-shadow: 0 0 .5rem rgb(48, 0, 28);
    margin-bottom: 1.1rem;
    max-width: 70px;
}

.playing {
    transform: scale(130%);
    border-color: #ddff00;
    box-shadow: 0 0 1rem #66f301;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ddff00;
}

.p {
    color: #cfcfcf85;
    position: absolute;
    bottom: 20px;
    left: 15px;
    font-size: 18px;
}

.doctored {
    color: #cfcfcf85;
    position: absolute;
    font-size: 32px;
    text-shadow: 6px 16px 5px rgba(150, 150, 150, 0.75);
    z-index: 3;
    font-weight: bold;
    bottom: 25px;
    right: 15px;
}

.main-block-text {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 8%;
}